{{$firstNavItem := index .Nav 0}}
{{$rootPath := $firstNavItem.GetRelativePath .Path}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ONS developer Hub{{if .Title}} - {{.Title}}
            {{end}}
        </title>
        <link rel="preload" as="font"  type="font/woff2" href="https://cdn.ons.gov.uk/assets/fonts/open-sans-regular/OpenSans-Regular-webfont.woff2" crossorigin>
        <link rel="preload" as="font"  type="font/woff2" href="https://cdn.ons.gov.uk/assets/fonts/open-sans-bold/OpenSans-Bold-webfont.woff2" crossorigin>
        <link rel="stylesheet" href="https://cdn.ons.gov.uk/sixteens/662bc97/css/main.css">
        <link rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.min.css">
        <link rel="stylesheet" href="{{$rootPath}}assets/css/main.css">
        {{ template "gtm-head" . }}
    </head>
    <body class="link-adjust sticky-footer">
        {{ template "gtm-body" . }}
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js' : 'js');</script>
        {{ template "cookies-banner" . }}
        {{ template "header" . }}
            <div class="wrapper margin-bottom-sm--3 margin-bottom-md--6 adjust-font-size--18">
                <div class="col-wrap">
                    <div class="col col--md-one-half col--lg-one-third sticky sticky--lg-only">
                        <div class="margin-top-sm--4 margin-top-md--5 margin-right-lg--2 padding-top--1 padding-right--1 padding-bottom--1 padding-left--1 background--iron-light">
                            {{ template "table-of-contents" .}}
                        </div>
                    </div>
                    <main id="main" role="main" tabindex="-1" aria-labelledby="main-label">
                    <div class="col col--md-one-half col--lg-two-thirds">
                        <h1 id="main-label" class="break-word margin-top-sm--3 margin-bottom-sm--3 font-weight--700">
                            <strong>{{.Title}}</strong>
                        </h1>
                        {{yield}}
                    </div>
                </div>
            </div>
        </main>
        {{ template "footer" . }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.ons.gov.uk/sixteens/662bc97/js/main.js"></script>
    </body>
</html>
